# API version
API_VERSION=v1
# Enviroment
NODE_ENV=develop

PORT=3001

TYPEORM_MASTER_HOST=44.206.62.90
TYPEORM_MASTER_PORT=3306
TYPEORM_MASTER_USERNAME=root
TYPEORM_MASTER_PASSWORD=papagayo2022
TYPEORM_MASTER_DATABASE=whatsapp_integrator

TYPEORM_SLAVE_HOST=44.206.62.90
TYPEORM_SLAVE_PORT=3306
TYPEORM_SLAVE_USERNAME=root
TYPEORM_SLAVE_PASSWORD=papagayo2022
TYPEORM_SLAVE_DATABASE=whatsapp_integrator

REDIS_PORT=6379
REDIS_HOST=44.206.62.90
REDIS_PASSWORD=W4v30K4UeX0xY1rV

WHATSAPP_API=https://graph.facebook.com/v13.0

# 0: error / 1: warn / 2: info / 3: verbose / 4: debug / 5: silly
LOG_LEVEL=info
